{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login.css' %}"/>
    <title>Register</title>
</head>
<body>

    <div class="container">
        <div class="box form-box">
            {% comment %} <div class="back-button">
                <a href="{% url 'home' %}">Back</a>
            </div> {% endcomment %}
            <h1>Register</h1>
            <form action="" method="post">
                {% csrf_token %}
                <div class="field input">
                    <label for="username">Username</label>
                   
                    <input type="text"   name="username" id="username">
                </div>

                <div class="field input">
                    <label for="email">Email</label>
                   
                    <input type="email"  name="email" id="email">
                </div>
                

                <div class="field input">
                    <label for="password1">Password</label>
                   
                    <input type="password"  name="password1" id="password1">
                </div>

                <div class="field input">
                    <label for="password2"> Confirm Password</label>
                   
                    <input type="password"  name="password2" id="password2">
                </div>
                <div class="field">
                    <input type="submit" class="btn" name="submit" value="Register" required autocomplete="off">
                </div>

                <div class="link">
                    Already have an account? <a href="{% url 'login' %}">LogIn</a>
                </div>
            </form>

        </div>
    </div>

   
    
</body>
</html>